modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_openai_ai_integrations:2.0.0", "stripe:2.0.0"]
stack = "FULLSTACK_JS"
expertMode = true

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BJtpL8ETJOEVXQUb7pBU6snhAeLh93zxXQts85pQ69B05PmO1mo0UwO4epfg6MEXxs9A39UQbyV5uSg8oV7Tq2Q"
VAPID_PRIVATE_KEY = "CR1OIvHKs-_A5a2Ed2xjOHQ52ecP_vN3xysPxBBkKUU"
